/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Bebas Neue', cursive;
}

:root {
  --babyBlueEyesColor: #A9CEF4;
  --charcoalcolor: #36494E;
  --blackColor: #0000;
  --airSuperiorityBlue: #7EA0B7;
  --darkElectricBlue: #597081;
  --cardImageColor: #f1f1f3;
  font-size: 16px;
  --zindex-navbar: 5000;
}

.navBar {
  display: flex;
  background-color: #000;
  opacity: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: var(--zindex-navbar);
  top: 0;

}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.portraitSection {
  margin-top: 50px;
  background-color: var(--charcoalcolor);
  padding-top: 25px;
  padding-bottom: 25px;
}

.shopSection {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--darkElectricBlue);
}

.endSection {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  align-items: center;
}

.boxPortraits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 3000px;
}

.containerPortatrait {
  background-color: var(--darkElectricBlue);
  width: 800px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.containerPortatrait figure {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

.containerPortatrait figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.containerPortatrait figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 119, 152, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.containerPortatrait figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.containerPortatrait figure:hover>.capa h1 {
  margin-top: 25%;
  margin-bottom: 15px;
  transition: all 500ms ease-out;
}

.containerPortatrait figure .capa h1 {
  color: white;
  font-size: 2em;
}

.shopSection h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}

.titleShop {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*! ---------------------------------------------------------------------- */

.endSection h3 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.endSection h2 {
  color: white;
  align-self: flex-start;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.endSection p {
  color: white;
  text-align: center;
}

.boxEnd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  align-items: flex-start;
}

.endContact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
}

.endShop {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.endSocial {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.iconMedia {
  height: 40px;
  width: 40px;
  position: relative;
}

.iconMedia img {
  width: 100%;
}

/* Swiper */

.maincito{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin: auto;
  max-width: 1200px;
}

.card {
  background-color: black;
  border: solid 2px black;
  min-width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.swiper-container {
  display: flex;
  flex-direction: row;
  min-width: 450px;
  overflow: scroll;
  gap: 1em;
  
  border-radius: 5px;
}

.swiper-container::-webkit-scrollbar {
  display: none;
} 

.boxImg {
  display: flex;
  align-items: center;
  width: 300px;
  height: 60%;
  overflow: hidden;
  background-color: var(--cardImageColor);

}

img {
  width: 100%;  
}

.swiperButton {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
}

.swiperButton img {
  width: 100%;
}

.voleibolSection {
  align-items: center;
  margin-left: auto;

}

.dataCard {
  color: white;
  padding: 15px 25px;
  width: 70%;
  background-color: black;
}

.datosCard h3 {
  font-size: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--cardImageColor);
  
}

.datosCard{
  color: white;
  padding: 15px 25px;
  background-color: black;
}

.addToCartButton {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
  align-self: center;
}

.addToCart {
 max-width: 100%;
}

.cardDescription{
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
  justify-content: space-between;
}

.floating-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  margin: 35px 35px;
  border-radius: 50%;
  background-color:  rgb(19, 119, 152) ;
  font-size: 2em;
  color: white;
  box-shadow: 3px 3px 10px black;
}

.cartSection{
  background-color: var(--darkElectricBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 75vh;
  bottom: 0;
  right: 0;
  margin: 110px 25px;
  position: fixed;
  z-index: var(--zindex-navbar);
  border-radius: 5px;
  padding: 20px;
  gap: 2em;
  
  box-shadow: 3px 3px 10px black;
}

.cartSection h1{
  color: black;
}

.defaultCartImg{
max-width: 40%;
}

.defaultCartImg img {
  width: 100%;
}

.itemsCart{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 500px;
  width: 70%;
  overflow-x: hidden;
  gap: 1em;
}

.itemsCart::-webkit-scrollbar {
  width: 8px;     
  height: 8px;    
}

.itemsCart::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.cardCart {
  display: flex;
  flex-direction: row;
  background-color: var(--cardImageColor);
  border: 2px solid black;
  border-radius: 5px;
  width: 95%;
}

.imgCard {
  display: flex;
  align-items: center;
 width: 30%;
 background-color: var(--cardImageColor);
}

.totalLabels {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.checkOut{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}

.buttonCheckOut{
padding: 10px;
border-radius: 5px;
}

.toolsCard button {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
}

.toolsCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}